
/*BARRA DE NAVEGACION*/
/*font Alegreya*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');
/*Inicializando valores en todos los elementos*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    backface-visibility: hidden;
}
html
{
    background-color: #fffbf7;
}
.left{
    text-align: left;
}
.verde
{
 color: #025157;   
    padding: 0;
    margin: 0;
}
.cursivas
{
    font-family: "Alegreya", serif;
      padding: 0;
    margin: 0;
}

.video
{
  margin:0 auto;
height: auto; 
max-width: 100%;
justify-content: center;  
}
.img
{
margin: auto;
height: auto; 
padding: 0;
text-align: center;
max-width: 100%;
justify-content: center;
}
 h1 {
  color: #025157;
    font-weight: 600;
    font-size: 4.2em;
    font-family: "Alegreya", serif;
    margin: 30px 0 20px 0;
     backface-visibility: hidden;
}  
h3 {
  color: #025157;
    font-size: 2.6em;
    font-weight: 600;
    font-family: "Alegreya", serif;
    margin: 30px 0 20px 0;
        backface-visibility: hidden;
}
h4 {
  color: #46484c;
    font-weight: 600;
    font-size: 1.2em;
    font-family: "Slabo 27px", serif;
    margin: 15px 0 30px 0;
        backface-visibility: hidden;
}
p{
  color:#46484c;  
     font-size: 1.3em;
        backface-visibility: hidden;
    font-family: 'Open Sans', sans-serif;
}
form
{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}
.bdos
{
    padding: 1%;
    background-color: #025157;
    color: #fffbf7;
    border-top-right-radius: 10PX;
    border-bottom-right-radius: 10PX;
    border :none;
    font-size: 1.1em;
    margin: 0;
}
.indos
{
    margin: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   padding: 1%;
    font-size: 1.1em;
 color: #fffbf7;
    border-radius: 1PX;
    border :solid 1px #aba9a9; 
}

/*barra navegacion */
.header 
{
    margin-top: 15px;
    margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
    font-size: 0;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
    background-color: #fffbf7;
}

li {
  display: inline;
  font-weight:500;
     font-size: 1em;
    padding-right: .5%;
    font-weight: 500;
}
.header > * {
  display: inline-block;
   font-size: 16px;
  vertical-align: middle;
  height: 100%;
 
  font-family: 'Roboto', sans-serif;

}
.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
   text-align: right;
  font-size: 14px;
  font-weight: 600;
}
li > * {
  margin-right: 10px;
  margin-left: 10px;
}
.actions a {
  color: #67b54b;
}
.logo > img {
  height: 100%;
}
.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}


/*SECCION UNO*/
.main{
  margin-top: 285px;       
max-width: 100%;
text-align: center;
height: auto;
  background-color: #fffbf7;
}
          
.centrado, 
{
justify-content: center;
text-align: center;
}
      




/*SECCION DOS*/


.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
      background-color: #fffbf7;
}
.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.publish {
  flex: 1;
}
.lineal
{
  text-align: center;
}
    
 .lineado
{
    padding: 1.5% 0 1.5% 0;
}
.publishc
{
color: black;
    font-size: 1em;
    font-weight: 500;
}
    
 
/*SECCION TRES*/
.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 0;
  width: 40%;
  right: 50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
    
  /*SECCION CUATRO*/  
    
   .articulos {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding:5.5%;
      background-color: #a1d683;
	  justify-content:center;
	  height:auto;
	  color:black;
} 
    .artuno {
  width: 50%;
  margin: 0 auto;
  align-items: center;
 color:black;
	  justify-content:center;
	 padding:2%;
	  height:auto;
        background-color: #a1d683;
} 
.fontart
{
	font-size:1.2em;
	color:black;
	text-align:left;
    font-family: 'Open Sans', sans-serif;
}
  
.artdos {
  width: 23%;
  margin: 0 auto;
  align-items: center;
	  justify-content:center;
	  height:auto;
     background-color: white;
    border-radius: 15px;
    padding: 0;
    
} 
  
.titulo
{
     color: #025157;
    font-weight: 600;
    font-size: 3.1em;
    font-family: "Alegreya", serif;
    margin: 30px 0 20px 0;
     backface-visibility: hidden;
}
    
    
  .botona
{
    padding: 2.5%;
    background-color: #025157;
    color: #fffbf7;
    border :none;
    font-size: .9em;
    margin: 0;
    border-radius: 7px;
    font-weight: 600;
}  

.card
{
    max-width: 100%;
    padding: 1%;
    height: auto;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
}
.card-body
{

padding-right: 5%;
    padding-left: 5%;

}

.results
{
    display: flex;
    align-content: center;
    font-size: .8em;
    padding-bottom: 50px;
     padding-top: 15px;
    color: darkgray;
}
.card-footer
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 45px;
}

.buttom
{
    background-color: #025157;
    color: #fff;
    border: none;
border-radius: 5px;
    padding: 12px 50px;
    font-weight: 600;
    font-size: 1.1em;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.imgx
{
    margin: auto;
height: auto; 
padding: 0;
text-align: center;
max-width: 100%;
justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    
/*SECCION CINCO*/
    .cinco {
        max-width: 70%;
        height: auto;
        padding: 2%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
 
}

    .grid-container {
   grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.5em;
        display: grid;
        max-width: 85%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
          padding-bottom: 6%;
        background-color: #fffbf7;
}
    .grid-item1
        {
            background-color: white;
            border: 1px solid gray;
            border-radius: 11px;
            padding: 3%;
            text-align: center;
            justify-content: center;
            height: auto;
        }

    
    
    
    
    

